
<launch>
    <!-- Everything is set up in the igvc_slam_sim.launch file in the igvc_slam pkg -->
    <include file="$(find igvc_slam)/launch/igvc_slam_sim.launch"/>

    <!-- Moving Target D*Lite node -->
    <node pkg="igvc_nav" type="mt_dstar_node.py" name="mt_dstar_node" output="screen" />

    <!-- EKF -->
    <node pkg="igvc_ekf" type="igvc_ekf_node" name="igvc_ekf_node" output="screen" />

    <!-- Navigation node-->
    <node pkg="igvc_nav" type="igvc_nav_node.py" name="igvc_nav_node" output="screen" />

</launch>