
<launch>

    <!-- Everything is set up in the igvc_slam_sim.launch file in the igvc_slam pkg -->
    <include file="$(find igvc_slam)/launch/igvc_slam_sim.launch"/>

    <!-- Moving Target D*Lite node -->
    <node pkg="igvc_nav" type="mt_dstar_node.py" name="mt_dstar_node" output="screen" />


</launch>