<launch>

    <!-- Simulator Parameters -->
    <param name="port" value="9090"/>

    <!-- Set up the bridge to the simulator -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

    <!-- Get odometry data from the EKF and publish using custom transform -->
    <node pkg="igvc_transforms" type="igvc_odom_tf_node" name="igvc_odometry_tf_pub" output="screen" />
    <node pkg="igvc_ekf" type="igvc_ekf_node" name="igvc_ekf_node" output="screen" />

    <!-- Interact with the ros navigation stack through tf publisher and the cmd_vel driver -->
    <node pkg="igvc_transforms" type="igvc_laser_tf_node" name="igvc_laser_tf_pub" output="screen" />
    <node pkg="igvc_ros_navigation" type="igvc_motor_driver.py" name="igvc_motor_driver_node" output="screen" />

</launch>