<launch>
    <!-- Simulator Parameters -->
    <param name="port" value="9090"/>
    <!-- Set up the bridge to the simulator -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

    <!-- EKF node -->
    <node pkg="igvc_ekf" type="igvc_ekf_node" name="igvc_ekf_node" output="screen" />

    <!-- EKF Data Plotter -->
    <node pkg="igvc_ekf" type="ekf_plotter.py" name="ekf_plotter" output="screen" />

    <!-- Sensor Data Node -->
<!--    <node pkg="igvc_ekf" type="ekf_sensor_spoof.py" name="ekf_sensor_spoof" output="screen" />
-->
</launch>
